/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-custom {
  background: linear-gradient(90.32deg, #F56563 0%, #E54988 100%);
}

.header-title {
  font-family: 'Roboto Slab';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.logo{
  width: 68.66px;
height: 28.44px;
gap: 0px;
opacity: 0px;

}
.certification-program {
  background-color: #FFFFFF;
  color: #000;
  padding: 5.11px 11.08px;
  border-radius: 5px;
}

.rating {
  color: #F7C852;
}

.presents {
  font-family:Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.1px;
  letter-spacing: 2.231907844543457px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 13px;
}

.content {
  width: 375px;
  height: 670.4px;
  padding: 20px 24px 30px 24px;
  gap: 24px;
  background-color: #0F1014;
}

.prof {
  width: 327px;
  gap: 7.09px;
}

.prof1 {
  font-family: 'Roboto Slab';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
  box-shadow: 0px 2px 4px 0px #0000000C;
}

.prof2 {
  display: flex;
  width: 327px;
  height: 24.22px;
  gap: 10px;
  opacity: 0px;
  margin-top: 10px;
}

.prof3 {
  display: flex;
  background-color: rgb(60, 57, 57);
  color: #fafafa;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 12.36px;
  padding: 5.11px 11.08px;
  border-radius: 5px;
}

.prof4 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: right;
  color: #F7C852;
}
.star{
  color:#F7C852;
}


.prof5 {
  margin-top: 15px;
}

.prof6 {
  position: relative;
  /* padding-left: 20px; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #D2D2D2;
  list-style: none;
  margin-bottom: 10px;
  
}
.p1{
  margin-right: 8px;
}
.mark{
  margin-right:5px;
}
.star{
  margin-right:5px;
  
}
.form1{
  width: 327px;
  height:405px;
  padding: 10px 0px 0px 0px;
  gap: 20px;
  border-radius: 0px 0px 10px 10px;
  opacity: 0px;
  background-color: #FFFFFF;
}
.form-head{
  width:327px;
height: 29px;
padding: 10px;
border-radius: 10px 10px 0px 0px;
opacity: 0px;
background-color: #E84D84;

;
}
.form-head-content{
  background: #E84D84;
  font-family: Roboto;
  font-size: 11.8px;
  font-weight: 700;
  line-height: 14.4px;
  text-align: center;
  color:#FFFFFF;
 /* width: 204px; */
/* height: 15px; */
gap: 0px;
opacity: 0px;
align-items: center;

}
.form2{
width: 307px;
height: 329px;
opacity: 0px;
padding: 10px;
}
.form3{
  width: 307px;
height: 62px;
opacity: 0px;
}
.text{
  font-family: Noto Sans SC;
font-size: 12.8px;
font-weight: 600;
line-height: 16px;
text-align: left;
color:#505050;
gap:11px;
}
.box{
  width: 307px;
  height: 35px;
  padding: 7px 12px 9px 12px;
  gap: 0px;
  border-radius: 4px;
  border: 1px;
  opacity: 0px; 
  color:#000;
  border: 1px solid #D9D9D9;
  margin-top: 10px;
}
.submit{
width:307px;
height: 36px;
padding: 9.09px 113.36px 9.09px 113.36px;
gap: 0px;
border-radius: 4px;
opacity: 0px;
margin-top: 20px;
background: linear-gradient(90.32deg, #F56563 0%, #E54988 100%);
}
.sub{
  width: 45px;
height: 18px;
padding: 0.1px 0px 0.9px 0px;
/* gap: 0px;
opacity: 0px; */
color:white;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
}
.box1{
  width:307px;
height: 28px;
padding: 7px 12px 9px 12px;
gap: 0px;
border-radius: 4px;
/* justify: space-between; */
border: 1px solid  #BFBFBF;
margin-top: 11px;
color: #BFBFBF;
text-align: center;
}
.choose{
  color: #373232;
  font-family: Arial;
  font-size: 13.56px;
  font-weight: 400;
  line-height: 18.99px;
  text-align: center;
  width: 207px;
  height: 20px;
  align-items: center;
  justify-content: center;
  gap: 0px;
  opacity: 1;
  padding:10px;
  
}
.box2{
  width: 60px;
height: 22.86px;
padding: 7px 12px 9px 12px;
gap: 0px;
border-radius: 4px ;
border: 1px ;
/* justify: space-between; */
opacity: 0px;
border: 1px solid #D9D9D9;
margin-top: 11px;
margin-right: 11px;
color: #505050;
}
.apply{
width: 375px;
/* height:396.14px; */
/* padding: 30px 24px 30px 24px; */
gap: 32px;
opacity: 0px;
overflow: hidden;
margin-bottom: 0;
}
.apply-text{
  font-family: Roboto Slab;
font-size: 24px;
font-weight: 400;
line-height: 30px;
text-align: center;
width: 188px;
height: 60px;
gap: 0px;
opacity: 0px;
box-shadow: 0px 2px 4px 0px #0000000C;
color: #F5F5F5;

}
.apply-button{
width: 327px;
height: 36px;
padding: 9.09px 113.36px 9.11px 113.36px;
gap: 0px;
border-radius: 4px;
opacity: 0px;
background: linear-gradient(90.32deg, #F56563 0%, #E54988 100%);
color: #fafafa;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
line-height: 16.8px;
text-align: center;

}
.certificate{
  width: 375px;
height: 416px;
padding: 30px 24px 30px 24px;
gap: 14px;
background-color:#000000;
}
.certificate-content{
  width: 327px;
height: 90px;
gap: 25px;
opacity: 0px;
}
.certificate-text {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  width: 214px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: #F5F5F5;
  box-shadow: 0px 2px 4px 0px #0000000C;
}

.features-text{
  font-family: Roboto Slab;
font-size: 14px;
font-weight: 400;
line-height: 17.05px;
text-align: center;
width: 104px;
height: 34px;
gap: 0px;
opacity: 0px;
color:#FFFFFF;
}
.features{
  width: 327px;
height:76.14px;
gap: 11px;
opacity: 0px;

}
.icons{
  display: flex;
  width: 34.14px;
height: 34.14px;
justify-content: center;
align-items: center;
gap: 0px;
opacity: 0px;
border-radius: 50%;
background-color: #CA3660;
}
.icon{
  color:#F5F5F5;
  align-items: center;
}
.zoom{
  width: 104px;
height: 76.14px;
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186.02px;
  height: 34px;
  gap: 17.35px;
  opacity: 0px;
  margin: 40px 40px 0px 40px;
  margin-left: 60px;
}
.sicons{
  width: 34px;
  height: 34px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
  margin-bottom: 40px;
}
.apply2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0F1014;
  color: #fff;
  height: 332.8px;
  width: 375px;
}
.apply2-text {
  font-family: 'Roboto Slab', serif;
  width: 195px;
  height: 90px;
  gap: 0px;
  opacity: 0px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px #0000000C;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
  margin-left: 50px;
}

.apply2-button {
  width: 296.72px;
  height: 36px;
  padding: 10px;
  border-radius: 4px;
  background: linear-gradient(90.32deg, #F56563 0%, #E54988 100%);
  color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.form3 select{
  margin-top:1px ;
}